.containerB {
    background-color: bisque;
}

.heading {
  font-family: serif;
  font-size: 3rem; 
  font-weight: 400;
}

.faPhone,
.faEnvelope,
.faLocationDot {
    color: #82680dc7;
}

.formContainer {
    flex: 0 0 50%;
    margin: 30px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.formContainer:hover {
    transform: scale(1.05);
}

.formContainer form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formGroup {
   padding: 3px;
}

